body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
}

.calculator {
  width: 260px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

#display {
  width: 100%;
  height: 40px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.button {
  padding: 20px;
  font-size: 18px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #ddd;
}

.operator {
  background-color: #ff9800;
  color: white;
}

.operator:hover {
  background-color: #e68900;
}

.equal {
  background-color: #4caf50;
  color: white;
  grid-column: span 4;
}

.equal:hover {
  background-color: #45a049;
}

button:active {
  transform: scale(0.98);
}
