body {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: right;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    padding-right: 10px;
}

.buttons button {
    width: 60px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.zero {
    width: 130px;
}

.equal {
    background: #ff9500;
    color: #fff;
}

.buttons button:hover {
    opacity: 0.8;
}
